body {
	color: #ffffff;
	margin: 0px;
	overflow: hidden;
	font-family: Monospace;
}
.backbtn {
	position: fixed;
	left: 20px;
	top:12px;
	z-index: 10;
	font-size:14px;
	display: flex;
	flex-direction: row;
	align-items: center;
    border: none;  
    color: #1EAEDB; 
    text-decoration: none;
}
.backbtn span{
    color: #1EAEDB; 
}
.backbtn img{
	width: 18px;
	height: 18px;
	margin-right: 4px;
}